.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-left-div {
    margin-top: 1em;
    padding-left: 1em;
    width : 18%;
    min-width: 200px;
    display: inline-block;
    overflow: auto;
    height: 550px;
}

.App-button {
    margin: 1px;
    width: 95%;
    text-align: left;
    overflow: hidden;
	  text-overflow: ellipsis;
}

.App-map-button {
    position: absolute;
    left: 1em;
    bottom: 1em;
    width: 18%;
}

.App-right-div {
    margin-top: 1em;
    vertical-align: top;
    width : 100%;
    min-width: 500px;
    display: inline-block;
    text-align: center;
}

.App-input {
     width: 260px;
}

.App-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-divider {
  display: inline-block;
  margin-top: 5px;
}

.App-container-div{
  display: flex;
  width: 100%;
}

.App-devider-button {
  padding: 0;
  height: 100%;
}
